<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Mis Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Input para nueva tarea -->
  <ion-item class="ion-margin-bottom">
    <ion-input [(ngModel)]="newTaskTitle" placeholder="Nueva tarea..." (keyup.enter)="addTask()"></ion-input>
    <ion-button slot="end" (click)="addTask()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Lista de tareas -->
  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-checkbox slot="start" [(ngModel)]="task.completed" (ionChange)="toggleTask(task)"></ion-checkbox>
      <ion-label [style.text-decoration]="task.completed ? 'line-through' : 'none'">
        {{ task.title }}
      </ion-label>
      <ion-button fill="clear" color="danger" slot="end" (click)="deleteTask(task)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
